:root {
  --purple: hsl(259, 100%, 65%);
  --red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}
* {
  box-sizing: border-box;
}
@font-face {
  
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Regular.woff2') format('woff2'),
  url('../assets/fonts/Poppins-Regular.woff') format('woff'),
  url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Italic.woff2') format('woff2'),
  url('../assets/fonts/Poppins-Italic.woff') format('woff'),
  url('../assets/fonts/Poppins-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Bold.woff2') format('woff2'),
  url('../assets/fonts/Poppins-Bold.woff') format('woff'),
  url('../assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-BoldItalic.woff2') format('woff2'),
  url('../assets/fonts/Poppins-BoldItalic.woff') format('woff'),
  url('../assets/fonts/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-ExtraBold.woff2') format('woff2'),
  url('../assets/fonts/Poppins-ExtraBold.woff') format('woff'),
  url('../assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-ExtraBoldItalic.woff2') format('woff2'),
  url('../assets/fonts/Poppins-ExtraBoldItalic.woff') format('woff'),
  url('../assets/fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--light-grey);
  margin: auto;
}
.card {
  background-color: white;
  border-radius: 20px;
  border-bottom-right-radius: 150px;
  max-width: 650px;
  padding: 3em;
  margin: 3em auto;
}
.flex {
  display: flex;
}
.flex.c {
  flex-direction: column;
}
.Input {
  border-bottom: 2px solid var(--light-grey);
  margin-bottom: 2em;
  padding-bottom: 3em;
  position: relative;
} 
.btn-submit {
  background-color: var(--purple);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: -2.5em;
  right: 0;
  border: none;
}
.btn-submit:hover{
  background-color: var(--off-black);
  cursor: pointer;
}
.btn-submit::after {
  content: '';
  background-image: url(../assets/images/icon-arrow.svg);
  width: 50px;
  height: 50px;
  position: relative;
  display: block;
  left: 50%;
  transform: translate(-50%);
}
/* input */
.Input {
  text-align: left;
}
.Input form {
  gap: 1em;
  width: fit-content;
}
.Input form > div {
  flex: 1;
  max-width: 7em;
}
.Input input {
  padding: .5em 1em;
  border: 1px solid var(--smokey-grey);
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: 900;
}
.Input input:focus {
  outline-color: var(--purple);
}
.Input label {
  text-transform: uppercase;
  color: var(--smokey-grey);
  font-weight: 700;
}
.warn {
  display: none;
  color: var(--red);
  font-size: .8em;
  font-style: italic;
}
.warn.on {
  display: block;
}
/* output */
.Output {
  font-size: 4.5em;
  font-weight: 800;
  font-style: italic; 
}
.oR {
  color: var(--purple);
}
/* mobile */
@media only screen and (max-width: 680px) {
  .card {
    max-width: 90%;
    margin: 3em 5%;
  }
  .divCtr {
    margin: 5em 0 4em;
  }
  .btn-submit {
    right: unset;
    left: 50%;
    transform: translate(-50%);
  }
  .Input form {
    margin: auto;
  }
}
@media only screen and (max-width: 520px) {
    .card {
      padding: 3em 2em;
    }
  .Input input {
    font-size: 1em;
  }
  .Input form > div {
      max-width: 6em;
  }
  .Output {
    font-size: 4em;
  }
}
@media only screen and (max-width: 420px) {
    .card {
      border-bottom-right-radius: 100px;
    }
    .Input form > div {
      max-width: 5em;
    }
    .Input input {
      padding: .5em;
    }
    .Output {
      font-size: 3em;
    }
}
@media only screen and (max-width: 370px) {
    .card {
      padding: 2em 1em;
    }
    .Input form {
      gap: .5em;
    }
    .Input form>div {
      max-width: 4.5em;
    }
}